@import "_variables.scss";

@mixin liststyle {
    list-style: none;
    font-size: $small;

    a {
        color: #867772;
        text-decoration: none;
    }
}

@mixin flexit-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}