@import "_variables.scss";

@mixin liststyle {
    list-style: none;
    font-size: $small;

    a {
        color: #867772;
        text-decoration: none;
    }
}

@mixin fixedheader {
    display: flex;
    position: fixed;
    top: 5vh;
    left: 3%;
    right: 5%;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;

    img {
        width: 48px;
    }

    &>ul {
        @include liststyle;
        width: 40%;
        display: flex;
        justify-content: space-around;

        &>li:nth-of-type(2) {
            width: 38%;
        }

        &>li ul {
            @include liststyle;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        a:hover {
            color: #ebccc2;
            text-decoration: underline;
        }
    }
}

@mixin asidemenu {
    font-weight: 600;
    margin-left: 2%;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    ul {
        @include liststyle;
        width: 20%;
        position: relative;
    }

    .bullpoint {
        padding: 10px 0 10px 50px;
    }

    .bullpoint::before {
        content: "";
        position: absolute;
        width: 1.4rem;
        height: 1.4rem;
        border: 1px solid $secondary-color;
        border-radius: 50%;
        left: 0;
        transform: translateX(-50%);
    }

    .sideline {
        border-left: .5px solid $secondary-color;
        height: 7vh;
    }

    a {
        transition: color .3s linear;
    }

    a:hover {
        color: $main-color;
        transition: color .5s linear;
    }

}